.app.dark {
  --bg-color: #0D1117;
  --inverted-bg-color: #4F4F4F;
  --basic-color: #fff;
  --secondary-color: #939CB0;
  --blue-color: rgba(46, 48, 53, 1);
  --light-blue-color: #4793FF;
  --grey-color: #4F4F4F;
}