:root {
  --bg-color: #fff;
  --inverted-bg-color: #fff;
  --basic-color: #000;
  --secondary-color: #939CB0;
  --blue-color: rgba(71, 147, 255, 0.2);
  --light-blue-color: #4793FF;
  --grey-color: #4F4F4F;
}