.wrapper {
  width: 750px;
  justify-content: space-between;
  display: flex;
  position: relative;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.backImage {
  position: absolute;
  top: 0;
  right: -8px;
  z-index: 0;
}

.column {
  margin: 50px 0px 30px 40px;
  z-index: 1;
}

.item {
  align-items: center;
  display: flex;
  margin-bottom: 24px;
  //&__icon {
  //  margin-right: 26px;
  //}
}

.icon {
  svg{
    width: 25px;
    height: 25px;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  margin-right: 26px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.name {
  font-size: 14px;
  color:var(--secondary-color);
  margin-right: 20px;
  min-width: 96px;
}

.info {
  font-size: 14px;
}

@media(max-width: 880px){
  .wrapper {
    width: 100%;
  }
  .column {
    margin: 25px 0px 0px 15px;
    z-index: 1;
  }
}
@media(max-width: 400px){
  .name {
    display: none;
  }
  .wrapper {
    justify-content: center;
  }
}